# One time Creation of tables in the Lakehouse.

In [ ]:
spark.sql("""
CREATE TABLE IF NOT EXISTS meta_watermark (
  table_name STRING,
  max_date   DATE
) USING delta
""")

spark.sql("""
CREATE TABLE IF NOT EXISTS meta_audit_log (
  run_ts TIMESTAMP,
  source_glob STRING,
  rows_in BIGINT,
  rows_out BIGINT,
  min_date DATE,
  max_date DATE
) USING delta
""")